# Database Settings
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=abhay@6263
DB_NAME=trip
DB_PORT=3306

# SMTP Settings for Forgot Password OTP
# Make sure you use an App Password if using Gmail, not your main password.
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
